.casas {
    background: rgb(25 43 52);
    display: flex;
    font-weight: bold;
    position: relative;
    top: 26.5rem;
    width: 100vw;
}
.casas li img {
    height: 15rem;
    width: 100%;
}
.casas li p{
    color: rgb(255 255 255);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}