.casas {
    background: rgb(25 43 52);
    display: flex;
    font-weight: bold;
    position: relative;
    top: 30rem;
    width: 100vw;
}
.casas li img {
    height: 15rem;
    width: 100%;
}
.casas li p{
    color: rgb(229 229 229);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}
<<<<<<< HEAD
.valor {
    background: rgb(15 76 106);
    border: 1px solid black;
    width: 23rem;
}
=======
>>>>>>> c72f1c9367715e7dcb7b8fdc017605e7a5cad3da
