.contato {
    background: #314e56;
    display: flex;
    height: 8rem;
    position: absolute;
    top: 188rem;
    width: 100vw;  
}
.contato__img {
    height: 7rem;
    left: 5.5rem;
    position: absolute;
    top: 0rem;
    width: 12rem;
}
.contato h3 {
    color: #999999;
    font-size: 0.8rem;
    left: 5rem;
    position: absolute;
    top: 7rem;
}