body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}
.header {
    align-items: center;
    box-sizing: border-box;
    background: rgb(12 37 46);
    color: rgb(255 255 255);
    display: flex;
    font-size: 3rem;
    font-family: 'Ms Madi', cursive;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100vw;
}