@media screen and (min-width: 375px){
    .redes-sociais img{
        margin: 0px 31% 0 0;
    }
}
@media screen and (min-width: 425px){
    .contato h3 {
        left: 2.8rem;
    }
    .contato__img{
        left: 7rem;
    }
    .redes-sociais {
        padding-left: 0.5rem;
    }
}
@media screen and (min-width: 768px){
    .casas li img {
        height: 18rem;
        padding-left: 10%;
        padding-top: 2rem;
        width: 80vw;
    }
    .valor {
        margin-left: 18rem;
        width: 25vw;
    }
    .contato {
        top: 30rem;
    }
    .contato img {
        left: 18rem;
    }
    .contato h3{
        left: 13.9rem;
    }
    .redes-sociais img {
        left: 10rem;
        margin: 0 20% 0 0;
    }
}
@media screen and (min-width: 1024px){
    .sobre h2 {
        font-size: 2.765rem;
    }
    .sobre p {
        font-size: 1.2rem;
    }
    .casas li img {
        height: 25rem;
        padding-top: 0.55rem;
    }
    .valor {
        margin-left: 25rem;
        width: 20vw;
    }
    .contato {
        top: 29rem
    }
    .contato img {
        left: 25rem;
    }
    .contato h3{
        left: 20rem;
    }
    .redes-sociais img {
        left: 10rem;
        margin: 0 25% 0 0;
    }
}    
@media screen and (min-width: 1440px){
    .slide img {
       height: 69vh;
    }
    
    .sobre{
        top: 80%;
    }
    .sobre p {
        font-size: 1.4rem;
    }
    .casas {
        top: 45rem;
    }
    .casas li img {
        height: 30rem;
        padding-left: 16%;
        padding-top: 0.55rem;
        width: 60rem;
    }
    .casas li p {
        font-size: 1.4rem;
    }
    .valor {
        font-size: 1.5rem;
        margin-left: 35rem;
        width: 20vw;
    }
    .contato {
        top: 45rem;
    }
    .contato img {
        left: 40rem;
    }
    .contato h3 {
        left: 32rem;
        font-size: 1rem;
    }
    .redes-sociais img {
        left: 20rem;
        margin: 0 25% 0 0;
    }
}
