.redes-sociais {
    background: #dddddd;
    display: flex;
    height: 3rem;
    padding-left: 0.1rem;
    position: relative;
    top: 15rem;
    width: 100vw;
}
.redes-sociais img {
    height: 3rem;
    margin: 0px 32.5% 0 0;
    position: relative;
    width: 3rem;
}
